.head {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 24px;
    box-sizing: border-box;
}

.nav1 {
    display: flex;
    list-style: none;
}

.nav1 .nav2 {
    display: flex;
    height: 64px;
    align-items: center;
    margin-right: 15px;
    font-size: 20px;
    list-style: none;
}

.nav1 .nav2 :hover {
    color: red;
    text-decoration: underline;
}

.search {
    flex: 1;
    height: 64px;
    border-radius: 8px;
    border: 2px solid red;
    display: flex;
    align-items: center;
    position: relative;
}

.search.search-button {
    position: absolute;
    top: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search .search-content {
    display: flex;
    width: 100%;
    height: 100%;
}

.search-content .search-input {
    flex: 1;
    background-color: transparent;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
}

.right-head {
    margin-left: 10px;
    display: flex;
}

.text2 {
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.right-head.picture1 {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.right-head .picture1 img {
    height: 50px;
    width: 50px;
    padding-right: 10px
}

.right-head.button {

    border: transparent 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
}

.roll .picture2 {
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}

.picture2 img {
    width: 100%;
}

.roll .tool li {
    width: 10px;
    height: 10px;
    margin: 4px;
    border-bottom: 50%;
    cursor: pointer;
    background-color: #fff6;
}

.roll .tool li .active {
    width: 14px;
    height: 14px;
    margin: 1px;
    background-color: #fff;
}

.circle-border {
    display: flex;
    cursor: pointer;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 10px;
}


.circle-border .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    color: green;
}

.circle-border .circle span {
    font-size: 30px;
    font-weight: bold;
    display: flex;
}

.circle-border :hover {
    background-color: green;
    color: white;
}

.all {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    margin: auto;
}

.all .list {
    cursor: pointer;
    padding: 30px;
    margin: auto;
}

.list :hover {
    color: red;
    text-decoration: underline;
}

.text1 {
    font-size: 12px;
}



.text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid green;
    padding: 20px;
    width: 100px;
    height: 100px;
}

.number {
    display: flex;
    justify-self: center;
    align-items: center;
    color: red;
    text-decoration: underline;
    font-size: 50px;
    width: 120px;
    height: 100px;
    border: 2px transparent;
    padding-left: 20px;
}

.box1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box2 {
    display: flex;
    align-items: center;
    justify-content: center;
}


.text-box:hover {
    background-color: green;
    color: #fff;
    cursor: pointer;
}

.redbox {
    background-color: #ff6666;
    width: 200px;
    height: 100px;
    display: flex;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.box3 {
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.rabbit {
    display: flex;
    width: 50px;
    height: 30px;
    justify-content: center;
    align-items: center;

}

.bigbox1 {
    display: flex;

}

.redbox:hover {
    background-color: red;
    animation-fill-mode: forwards;
}


@keyframes rabbit {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.last {
    width: 100%;
    height: 200px;
}