.head {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 24px;
    box-sizing: border-box;
}

.nav1 {
    display: flex;
}

.nav1 .nav2 {
    display: flex;
    height: 64px;
    align-items: center;
    margin-right: 15px;
    font-size: 20px;
}

.nav1 .nav2 :hover {
    color: red;
    text-decoration: underline;
}

.search {
    flex: 1;
    height: 64px;

    border-radius: 8px;
    border: 2px solid red;
    display: flex;
    align-items: center;
    position: relative;
}

.search.search-button {
    position: absolute;
    top: 4px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

}

.search .search-content {
    display: flex;
    width: 100%;
    height: 100%;

}

.search-content .search-input {
    flex: 1;
    background-color: transparent;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;

}

.right-head {
    margin-left: 10px;
    display: flex;


}

.right-head.picture1 {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.right-head .picture1 img {
    height: 50px;
    width: 50px;
    padding-right: 10px;



}

.right-head.button {
    background-color: green;
    text-decoration-color: white;
    border: transparent 2px;
    display: flex;
    justify-content: center;
}