* {
    margin: 0;
    padding: 0;
}

.box {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    height: 200px;
    width: 100%;
    flex-wrap: nowrap;


}

.flex1 {
    background-color: red;

    height: 200px;
    flex-grow: 1;
}

.flex2 {
    background-color: yellow;
    width: 100px;
    height: 200px;
}

.flex3 {
    background-color: blue;
    height: 200px;
    flex-grow: 1;
}