.image {
    background-image: url(4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    color: white;
}

.image:before {
    content: "我";
    top: 0;
    color: white;
}

.image:after {
    content: "死猪";
    top: 0;
    color: white;
}