.grid-item1 {
    background-color: aquamarine;
    grid-area: one;
}

.grid-item2 {
    grid-area: two;
    background-color: darkcyan;
}

.grid-item3 {
    grid-area: three;
    background-color: bisque;
}

.grid-item4 {
    grid-area: four;
    background-color: aqua;
}

.grid-item5 {
    grid-area: five;
    background-color: burlywood;
}

.grid-item6 {
    grid-area: six;
    background-color: brown;
}

.grid-container {
    display: grid;
    grid:
        'one one two two two two'
        'three three two two two two'
        'three three five five four four'
        'three three five five six six';
    grid-gap: 10px;

    padding: 10px;
    grid-template-rows: 100px;
    grid-template-columns: 50px;
    text-align: center;
    color: white;
}